<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre Em Contato Comigo!</title>
</head>
<body style="background-color: red;">
        <!--Cabeçalho do meu site-->
        <header style="display: flex;">
            <!--Aqui começa meu logo-->
            <section>
                <img src="Perfil.jpg" alt="Fote de Perfil" height="300"  width="300px">
            </section>
            <!--Navegação (menu)-->
            <nav>
                <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mySite.html">Sobre Mim</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="music.html">Músic</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="mySite.html">Entre em contato</a>
            </nav>
    
        </header>
    
        <h3>Fale Comigo! ;v</h3>

        <header>
            <h1>Deixe seu Comentario</h1>
        </header>

        <article>

            <fieldset>
                <br>

                <label for="cname">Nome:</label>

                <input type="text"  size="50" name="tnome" id="cnome" required placeholder="Digite seu nome"><br>
                <br  /><br  />
            </fieldset>
            <br><br><br>

            <fieldset>
                <br>

                <label for="cemail">Email:</label>

                <input type="text" size="50" name="temail" id="cemail" required placeholder="Digite seu email"><br>
                <br  /><br  />
            </fieldset>
            <br><br><br>

            <fieldset>
                <br>

                <label for="cwhats App">Whats App:</label>

                <input type="text"  size="50" name="twhatsapp" id="cwhatsapp" required placeholder="Coloque seu Whatsapp"><br> 
                <br  /><br  />
            </fieldset>
            <br><br><br>

            <fieldset>
                <br>

                <label for="cdatadenascimento">Data de Nascimento:</label>

                <input type="text"  size="50" name="tdatadenascimento" id="cdatadenascimento" required placeholder="Digite sua Data de Nascimento"><br> 
                <br  /><br  />
            </fieldset>
            <br><br><br>
            <fieldset>
                <p>Por favor deixe sua mensagem:</p>
                <textarea name="message" id="10" cols="50" placeholder="Deixe Sua Mensagem" rows="10"></textarea>
            </fieldset>

            <br  /><br  />

            <input type="submit" value="Enviar">


        </article>



    

</body>
</html>