<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Lazeres</title>
</head>
<body style="background-color: red;">
     <!--Cabeçalho do meu site-->
    <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="Perfil.jpg" alt="Fote de Perfil" height="300"  width="300px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mySite.html">Sobre Mim</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="music.html">Músic</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="contato.html">Entre em Contato!</a>
        </nav>

    </header>

    <!--Conteudo de Entreterimento-->
    <!--Exemplo de uso <article>-->
    <article>
       <img src="brasao_2000.png" alt="Maior do Nordeste" width="200px" height="200px">
       <h3>Sport</h3>
       <h5>Nivel 10/10</h5>
       <p>
        <img src="Estádio-Ilha-do-Retiro.jpg" alt="Maior do Nordeste" width="300px" height="300px">
       </p>
       <p>
        Sport surgiu em 13 de maio de 1905 onde ali começou a historia de um do maiores clubes do brasil<br>
        sport ganhou grandes titulos ao longo do tempo ate hj.<br>
        <ul>
            <li>Campeonato Pernambucano 43 Titulos</li>
            <img src="Campeonato Pernabucano.png" alt="Titulo" width="80pix" height="80pix">
            
            <li>Copa do Nordeste 4 Titulos</li>
            <img src="Copa do Nodeste.png" alt="Titulo" width="80pix" height="80pix">
            
            <li>Campeonato Brasileiro Seria A 1987</li>
            <img src="Brasileiro de 87.png" alt="Titulo" width="80pix" height="80pix">
            
            <li>Campeonato Brasileiro 1990</li>
            <img src="Troféu Campeonato Brasileiro Serie B.png" alt="Titulo" width="80pix" height="80pix">
            
            <li>Copa do Brasil 2008</li>
            <img src="Copa do Brasil 2008.png" alt="Titulo" width="80pix" height="80pix">

        </ul>    
            
            <iframe width="560"
             height="315" 
             src="https://www.youtube.com/embed/PVcqbeerC8k?si=bXjeSpXjWwv9tTkV" 
             title="YouTube video player" 
             frameborder="0" 
             allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
             allowfullscreen></iframe>
       
       </p> 
       <p>
        Conheca mais sobre Futebol: &nbsp; <a href="https://sportrecife.com.br/">Leia+</a>
       </p>
      
       <hr>

       <h3>Lasanha</h3>
       <h5>Nivel 8/8</h5>
       <p>
        <img src="LASANHA-BOLONHESA.jpg" alt="" width="300px" height="300px">
       </p>
       <p>
        Lasanha é uma comida incrivel que da muita agua na boca.
       </p>
       <p>
        Conheça mais sobre lasanha: &nbsp; <a href="https://www.tudogostoso.com.br/receita/876-lasanha-de-carne-moida.html">Leia</a>
       </p>
       
       <hr>

       <h3>Ilha do retiro</h3>
       <h5>Nivel 10/10</h5>
       <p>
        <img src="Estádio-Ilha-do-Retiro.jpg" alt="Meior do nordeste" width="300px" height="300px">
       </p>
       <p>
        A Ilha do Retiro tem capacidade para mais de 35,000 pessoas, onde o sport sedeia os seus jogos <br>
        a ilha ja foi palco da seleção brasileira onde jogou com o estados unidos em 11 de novembro 2015 <br> 
       </p>
         
         <p>
            Conheça mais sobre lasanha: &nbsp; <a href="https://www.estadios.net/estadio-ilha-do-retiro/#:~:text=Em%20resumo%2C%20com%2050%20contos,foi%20considerado%20um%20excelente%20neg%C3%B3cio.">Leia+</a>

         </p>
        
         <hr>

         <h3>Codar</h3>
         <h5>Nivel 10/10</h5>
         <p>
            <img src="cms.gif" alt="Codar Eu te Amo" width="200pix"  height="200px">
         </p>
         <p>
            O codigo de programação te ajuda a estimular sua criatividade e aprendizado,mas quem pode aprender?<br>
            A resposta é: quaquer pessoa de qualquer idade se você ama aprender, inovar ou criar você pode Aprender<br> 
         </p>

            <p>
                Conheça mais sobre Codar &nbsp; <a href="https://replit.com/">Leia+</a>
            </p>
        
        <hr>

        <h3>Serie 11onze</h3>
        <h5>Nivel 10/10</h5>

        <p>
            <img src="O11ze_Disney.jpg" alt="melhor Serie de todas" width="200px" height="200px">
        </p>
        <p>
            11onze é uma serie de futebol onde o protagonista é gabriel morreti, ele vem<br>
            de um interior na argentina chamado Alamo seco, onde ele tem um sonho de ser<br>
            o melhor jogador do planeta.<br>
        </p>

        <p>
            Conheça mais sobre 11onze &nbsp; <a href="https://maxseries.in/series-e-animes/o11ze/">Leia+</a>
        </p>




          

        
         
    </article> 
</body>
</html>