<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha playlist</title>
</head>
<body style="background-color: red;">
     <!--Cabeçalho do meu site-->
     <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="Perfil.jpg" alt="Fote de Perfil" height="300"  width="300px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mySite.html">Sobre Mim</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="music.html">Músic</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="contato.html">Entre em contato</a>
        </nav>

    </header>

    <!--Seção para minha playlist-->
    <main>
        <h3>Top 10 das Minhas Musicas</h3>
        <ol>
            <li>Reginaldo Rossi - Meu Grande amor</li>
            <li>Adilson Ramos - Ate que amanheça</li>
            <li>Aldilson Ramos - O Olga</li>
            <li>Adilso Ramos - Vem Pra Mim</li>
            <li>Ritchie - Menina Veneno</li>
            <li>Adilson Ramos - A Chuva Me Lembrou Você</li>
            <li>Gino Liver - A Plenitude</li>
            <li>Adilso Ramos - Fim Da Festa</li>
            <li>Gino Liver - Solidão</li>
            <li>Gini liver - Sonho de Amor</li>
        </ol>
    </main>
</body>
</html>