<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body style="background-color: red;">
    <!--Cabeçalho do meu site-->
    <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="Perfil.jpg" alt="Fote de Perfil" height="300"  width="300px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mySite.html">Sobre Mim</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="music.html">Músic</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="contato.html">Entre em contato</a>
        </nav>

    </header>
    <!--Conteudo Principal do meu site-->
    <main>
        <h1>Welcome to my universe</h1>
        <p>
            My Name Helder I like to sereados exemplos: <strong>11onze</strong><br>
            and I love <strong>I love football</strong>

            <h3>Coisas sobre mim</h3>
            <!--Lista não ordenada-->

            <ul>
                <li>Times de Futebol</li>
                <li>Times que Gosto
                   
                    <ul>
                        
                        <li>Sport</li>
                        <li>Manchester City</li>
                        <li>Barcelona</li>

                    </ul>
                    
                </li>
                
                <li>Comidas</li>
                <li>Comidas que Gosto
                    
                    <ul>
                         
                         <li>Lasanha</li>
                         <li>Pizza</li>
                         <li>Batata Frita</li>
                         <li>Cachorro Quente</li>
                    
                    
                    </ul>

               
                </li>

            </ul>
        </p>
    </main>
    <!--Rodapé-->
    <footer>
        By Helder &copy;
    </footer>
</body>
</html>